body {
    background-color: #f8fafc !important;
}

.cursor-pointer {
    cursor: pointer;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #c5c5c5;
}

/*  Layout Sider */
.ivu-layout-sider {
    background: #ffffff !important;
}

/*  Builder */

.builder-main-tabs .ivu-tabs-bar {
    background: #ffffff;
    padding: 10px 10px 0 40px;
}

.builder-main-tabs .ivu-tabs-tab {
    font-weight: 600;
}

.builder-main-tabs .ivu-tabs-tab i {
    font-size: 24px;
}

/*  Login (Sign In) Form Style */
#login-form .ivu-input-group-prepend {
    font-size:22px !important;
}

/*  Registration (Sign Up) Form Style */
#registration-form .ivu-input-group-prepend {
    font-size:22px !important;
}

/*  iView UI Style Fixes / Overides */

/*  Avoid the form item error message using position:absolute, because the causes the  
 *  error contents to be cut off if the error is too long. Increase the space between
 *  the text
 */
.ivu-form-item-error-tip {
    position: inherit !important;
    line-height: 1.4em !important;
}